.container {
  display: flex;
  justify-content: center;
  background-color: #d1e8e4;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #c37b89;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-family: 'Lora', serif;
}

h1, h2 {
  font-family: 'Lora', serif;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
  }
}